;;An example of how to make a schematic.edn file
{:pages [{:name  "portfolio"
          :type  :content
          :attrs {:title "Portfolio"}} ;;Every key-value pair here is replaced in its respective page

         {:name  "blog"
          :type  :index
          :index {:ordering :date}
          :entry "<a href=:link><li>:title</li></a>"
          :attrs {:title "Blog"}}

         {:name  "about"
          :type  :content
          :attrs {:title "About Me"}}

         {:name  "resume"
          :type  :content
          :attrs {:title "Resume"}}]}

;;Page model for portfolio page (content style page)
;{:title "Portfolio"
; :name  "portfolio"
; :type  :content}

;;Page model for blog page (index style page)
;{:title "Blog"
; :name  "blog"
; :type  :index
; :index {:ordering :date}} ;; Options:
                            ;; :date - Order by date most recent -> least recent
                            ;; :date-rev - Order by date least recent -> most recent
                            ;; :alpha - Order alphabetically a-z
                            ;; :alpha-rev - Order alphabetically z-a
                            ;; :random - Generate a random ordering on each gen
